.practices {
    padding: 50px 20px;
    background: #fff;
    .title {
        text-align: center;
        font-size: 42px;
        margin-bottom: 15px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        .icon {
            font-size: 30px;
            color: #615f5e;
            margin-top: 10px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
            text-align: center;
        }
        p {
            font-size: 18px;
        }
    }

}