.main {
    .banner {
        background: url('../../../public/images/bg.jpg') no-repeat center /cover;
        position: relative;
        height: 100vh;
        padding-top: 40px;
        &__box {
            position: relative;
            z-index: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            &-title {
                font-size: 35px;
                padding: 20px;
                max-width: 800px;
                width: 100%;
                text-align: center;
                white-space: normal;     
                word-wrap: break-word;   
                overflow-wrap: break-word;
                text-transform: uppercase;
                @media (max-width: 800px) {
                    font-size: 30px;
                }
                @media (max-width: 550px) {
                    font-size: 25px;
                    margin-top: 15px;
                }
                
            }
            &-text,
            span {
                font-size: 20px;
                padding: 20px;
                max-width: 900px;
                width: 100%;
                &:hover {
                    color: rgb(185, 184, 184);
                }
            }
            &-text {
                white-space: normal;      
                word-wrap: break-word;    
                overflow-wrap: break-word; 
                 @media (max-width: 900px) {
                    font-size: 18px;
                }

                @media (max-width: 600px) {
                    font-size: 16px;
                }

                @media (max-width: 400px) {
                    font-size: 14px;
                }
            }
            span {
                text-align: center;
            }
            &-btn {
                padding:14px 32px;
                background:linear-gradient(135deg,#caa75e,#e6c78c);
                color:#1a1a1a;
                border-radius:6px;
                text-decoration:none;
                font-weight:500;
                a {
                    text-decoration: none;
                    color: white;
                }
                &:hover{
                    background:#caa75e;
                    color:white;
                }
            }
        }
    } 
}