.contact {
    background: url('../../../public/images/writers.jpg');
    .wrapper {
        background: rgba(32, 42, 51, 0.85);
        padding: 120px 20px;
    }
    .content {
       color: #fff; 
       &__title {
        font-size: 40px;
        margin-bottom: 20px;
        @media (max-width: 500px) {
            font-size: 32px;
        }
       }
       &__text {
        max-width: 700px;
        margin-bottom: 45px;
       }
    }
    .form {
        background: #fff;
        padding: 40px;
        color: #333;
        display: flex;
        flex-direction: column;
        gap: 20px;
        input,
        textarea {
            padding: 12px 14px;
            font-size: 14px;
            border: 1px solid #e5e5e5;
            outline: none;
        }
        textarea {
            height: 150px;
        }
        button {
            padding: 12px 32px;
            background: #999897;
            border: none;
            font-size: 14px;
            cursor: pointer;
        }
        .contact__row {
            display: flex;
            gap: 20px;
        }
    }
}