$PlayfairDisplay: ('Regular', 400),
             ('Medium', 500),
             ('SemiBold', 600),
             ('Bold', 700);

@each $name, $weight in $PlayfairDisplay {
  @font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/PlayfairDisplay-#{$name}.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}

