@import './font.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PlayfairDisplay';
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    width: 100%;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}